@media only screen and (max-width : 600px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}
@media only screen and (min-width : 601px) {
  .grid-sizer, .grid-item {
    width: 49%;
  }
}

/*@media only screen and (min-width : 993px) {*/
  /*.grid-sizer, .grid-item {*/
    /*width: 32%;*/
  /*}*/
/*}*/

.grid-item {
  float: left;
  margin-bottom: 1%;
}

.gutter-sizer {
  width: 2%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}