body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.material-icons:hover {
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
}

.modal-content {
    text-align: center;
}

.title {
    font-weight: 300;
    text-align: center;
}

.material-tooltip {
    max-width: 200px;
}

.card-content:hover {
    cursor: pointer;
}

blockquote {
    word-wrap: break-word;
}