/*
 * COLORS:
 *
 * Blue:        #42a5f5
 * Dark Blue:   #4196D9
 *
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
}

.container {
    width: 90%;
}

.pageLayout {
    display: flex;
    flex: 1;
    margin-bottom: 0;
}

.clickable:hover {
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
}

.modal-content {
    text-align: center;
}

.title {
    font-weight: 300;
    text-align: center;
}

.material-tooltip {
    max-width: 200px;
}

.card-content:hover {
    cursor: pointer;
}

blockquote {
    word-wrap: break-word;
}

.timer {
    font-size: 350%;
    display: inline-block;
    padding: 5px 15px;
    margin: 0 auto;
    font-family: 'Courier';
}

#account-dropdown-big li:hover {
    background-color: #4196D9;
}


/* Make form stuff blue */
.datepicker-date-display { background-color: #42a5f5; }

.datepicker-day-button:focus {
    color: white !important;
    background-color: rgba(66, 165, 245, 0.5);
}

.datepicker-done,
.select-dropdown li>span,
.is-today:not(.is-selected) { color: #42a5f5 !important; }

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color: #42a5f5 !important;
}

.datepicker-cancel { color: red !important;}


.input-field input:focus + label,
.input-field textarea:focus + label,
form .dropdown-content li * {
    color: #42a5f5 !important;
}

.input-field input:focus,
.input-field textarea:focus{
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}

input[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #42a5f5;
    border-bottom: 2px solid #42a5f5;
}